# START CRON JOB
0 21 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Championship > /proc/1/fd/1 2>/proc/1/fd/2
0 22 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py England > /proc/1/fd/1 2>/proc/1/fd/2
0 23 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Spain > /proc/1/fd/1 2>/proc/1/fd/2
0 0 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py France > /proc/1/fd/1 2>/proc/1/fd/2
0 1 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Portugal > /proc/1/fd/1 2>/proc/1/fd/2
0 2 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Netherlands > /proc/1/fd/1 2>/proc/1/fd/2
0 3 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Turkey > /proc/1/fd/1 2>/proc/1/fd/2
0 4 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Germany > /proc/1/fd/1 2>/proc/1/fd/2
0 5 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Italy > /proc/1/fd/1 2>/proc/1/fd/2
0 6 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py Russia > /proc/1/fd/1 2>/proc/1/fd/2
0 7 * * * cd /fantasy_helper && /usr/local/bin/uv run python /fantasy_helper/fantasy_helper/db/scripts/update_league_full.py ChampionsLeague > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB
